<!-- filepath: sections/grid.liquid -->
{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "number",
      "id": "products_per_row",
      "label": "Products per row",
      "default": 2
    },
    {
      "type": "number",
      "id": "products_limit",
      "label": "Number of products to show",
      "default": 6
    }
  ]
}
{% endschema %}

{% assign collection = collections[section.settings.collection] %}
{% if collection %}
    <div id="product-grid-section">
        <div class="product-grid-header">Tisso vison in the wild</div>
        <div class="product-grid">
        {% assign reversed_products = collection.products | reverse %}
        {% for product in reversed_products %}
          <div class="product-grid-item" style="width: {{ 100 | divided_by: section.settings.products_per_row }}%" onclick="showProductPopup({{ product | json | escape }});">
            <img width=920 height=943 src="{{ product.featured_media | image_url: width: 920, height: 943 }}" alt="{{ product.title }}">
          </div>
        {% endfor %}
      </div>
    </div>

  
{% else %}
  <p>No products were found in this collection.</p>
{% endif %}

<!-- Pop-up Box -->
<div id="product-popup" class="product-popup">
  <div class="product-popup-content">
    <span class="product-popup-close">&times;</span>
    <div class='product-details-container'>
        <div class='product-image-container'>
            <img id="popup-product-image" width=300 height=320 alt="">
        </div>
        <div class='product-info-container'>
            <h2 id="popup-product-title"></h2>
            <p id="popup-product-price"></p>
            <p id="popup-product-description"></p>
            
        </div>
    </div>
    <div id="popup-product-options">
      <h2>Color</h2>
      <div id="popup-product-colors"></div>
      <h2>Size</h2>
      <div id="popup-product-sizes">
        <div class="dropdown-button">Choose your size</div>
        <div class="dropdown-content">
          <a href="#">XS</a>
          <a href="#">S</a>
          <a href="#">M</a>
          <a href="#">L</a>
          <a href="#">XL</a>
        </div>
      </div>
    </div>
    <button id="add-to-cart-button">ADD TO CART</button>
  </div>
</div>

<style>
  .product-grid {
    padding: 0px 10px;
    min-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: scroll;
  }
    
  #product-grid-section {
    margin: 60px 30px;
  }

  .product-grid-header {
    font-family: Lustria;
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: 0px;
    margin: 10px 10px;
}
  
  .product-grid-item {
    box-sizing: border-box;
    padding: 5px 0px;
    cursor: pointer;
  }
  .product-grid-item img {
    width: 440px;
    height: 444px;
    /* overflow: auto; */
    object-fit: cover;
  }
  .product-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #popup-product-options {
    margin: 0px 16px 29px 16px;
  }

  #popup-product-options h2 {
    font-size: 14px;
  }

  #popup-product-title {
    margin-bottom: 0px;
    /* font-family: Jost; */
    font-weight: lighter;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;
  }
  #popup-product-price {
    margin: 10px 0px;
}
  #popup-product-description {
    padding: 0px;
    margin: 0px;
    font-family: Jost;
    font-weight: 300;
    font-size: 14px;
    line-height: 15.4px;
    height: 60px;
    overflow: auto;
}
  #popup-product-description p
   {
    padding: 0px;
    margin: 0px;
   }
  .product-popup-content {
    background-color: #fff;
    margin: 15% auto;
    border: 1px solid #888;
    width: 311px;
    height: 477px;
  }
  .product-popup-close {
    margin: 0 10px 0 0;
    color: black;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  .product-popup-close:hover,
  .product-popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #popup-product-colors {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .color-option {
    background: white;
    padding: 0;
    flex: 1;
    display: flex;
    height: 40px;
    border: 1px solid #000;
    cursor: pointer;
  }.color-box {
      margin: 0px;
      width: 7%;
      height: 100%;
      border: 1px solid black;
  }
  .color-text {
    padding: 10px 0px 0px 9px;
    display: flex;
    width: 90%;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

  #popup-product-image {
    width: 120px;
    height: 140px;
    object-fit: cover;
  }

  #popup-product-sizes {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="black" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/></svg>') no-repeat right 10px center;
    background-color: #fff;
    background-size: 16px;
    cursor: pointer;
  }
  #popup-product-sizes.open {
    background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="black" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 15l-7-7-7 7"/></svg>') no-repeat right 10px center;
    background-color: #fff;
    background-size: 16px;
  }
  
  .product-details-container{
    display: flex;
    width: 120px;
    gap: 10px;
    margin: 0px 16px;
    height: 140px;
    width: 90%;
  }

 #add-to-cart-button {
     margin: 10px 16px;
    width: 90%;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    text-align: center;
    padding-right: 40px; /* Space for the arrow */
  }
  #add-to-cart-button::after {
    content: '→';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  #add-to-cart-button:hover {
    background-color: #333;
  }
  @media (max-width: 768px) {
    .product-grid {
      min-width: 375px;
    }
    #product-grid-section {
        margin: 10px 5px;
    }
    .product-grid-item {
      width: 50% !important; /* 2 products per row */
      padding: 0px;
    }
    .product-grid-item img {
        width: 169px;
        height: 186px;
        object-fit: cover;
    }
  }

  /* Dropdown Component Styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-button {
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    width: 33%;
    position: absolute;
    background-color: #fff;
    min-width: 152px;
    max-height: 86px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown.show .dropdown-content {
    display: block;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var popup = document.getElementById('product-popup');
    var popupImage = document.getElementById('popup-product-image');
    var popupTitle = document.getElementById('popup-product-title');
    var popupDescription = document.getElementById('popup-product-description');
    var popupColors = document.getElementById('popup-product-colors');
    var popupSizes = document.getElementById('popup-product-sizes');
    var popupPrice = document.getElementById('popup-product-price');
    var popupClose = document.querySelector('.product-popup-close');
    var addToCartButton = document.getElementById('add-to-cart-button');
    var dropdownButton = document.querySelector('.dropdown-button');
    var dropdown = document.querySelector('.dropdown');
    var dropdownContent = document.querySelector('.dropdown-content');


    window.showProductPopup = function(product) {
      popupImage.src = product.featured_image;
      popupImage.alt = product.title;
      popupTitle.textContent = product.title;
      popupDescription.innerHTML = product.description;
      popupPrice.textContent = (product.price / 100).toFixed(2)  + '€'; ; // Convert cents to dollars

      // Populate color options
      popupColors.innerHTML = '';
      var colors = [...new Set(product.variants.map(variant => variant.option2))];
      colors.slice(0, 2).forEach(function(color) {
        var colorOption = document.createElement('button');
        colorOption.className = 'color-option';
        var colorBox = document.createElement('span');
        colorBox.className = 'color-box';
        colorBox.setAttribute('style', 'background-color: ' + color.toLowerCase());
        var colorText = document.createElement('span');
        colorText.className = 'color-text';
        colorText.textContent = color;
        colorOption.appendChild(colorBox);
        colorOption.appendChild(colorText);
        popupColors.appendChild(colorOption);
      });

      // Handle color selection
      var colorOptions = document.querySelectorAll('.color-option');
      colorOptions.forEach(function(option) {
        option.addEventListener('click', function() {
          colorOptions.forEach(function(opt) { opt.classList.remove('selected'); });
          option.classList.add('selected');
          updatePrice(product);
        });
      });

      // Handle size selection
      popupSizes.addEventListener('change', function() {
        updatePrice(product);
      });


        // Handle add to cart
      addToCartButton.onclick = function() {
        console.log(product);
        addToCart(product);
      };

      popup.style.display = 'block';
    };

    popupClose.addEventListener('click', function() {
      popup.style.display = 'none';
    });

    window.addEventListener('click', function(event) {
      if (event.target == popup) {
        popup.style.display = 'none';
      }
    });

    // Handle dropdown arrow direction
    popupSizes.addEventListener('click', function() {
        popupSizes.classList.toggle('open');
      console.log('in dropdown click');
        
        if (popupSizes.classList.contains('open')) {
            dropdownContent.style.display = 'block'; // Or 'flex', 'grid', etc.
        } else {
            dropdownContent.style.display = 'none';
        }
      });

      // dropdownButton.addEventListener('click', function() {
      //   // dropdown.classList.toggle('show');
      //   console.log('in dropdown click');
        
      //   if (popupSizes.classList.contains('show')) {
      //       dropdownContent.style.display = 'block'; // Or 'flex', 'grid', etc.
      //   } else {
      //       dropdownContent.style.display = 'none';
      //   }
      // });

    function updatePrice(product) {
      var selectedColor = document.querySelector('.color-option.selected');
      var selectedSize = popupSizes.value;
      if (selectedColor && selectedSize) {
        var variant = product.variants.find(variant => 
          variant.option1 === selectedSize && variant.option2 === selectedColor.getAttribute('data-color')
        );
        if (variant) {
          popupPrice.textContent = (variant.price / 100).toFixed(2) + '€'; ; // Convert cents to dollars
        }
      }
    }

    function addToCart(product) {
      {% comment %} var selectedColor = document.querySelector('.color-option.selected');
      var selectedSize = popupSizes.value; {% endcomment %}
      var selectedColor = 'Black';
      var selectedSize = 'M';
      var addAnotherProduct = false;
      console.log(selectedColor);
      console.log(selectedSize);
      if (selectedColor && selectedSize) {
        var variant = product.variants.find(variant => 
          variant.option1 === selectedSize && variant.option2 === selectedColor
        );
        if (variant) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/cart/add.js', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              // Open the cart notification
              var cartNotification = document.querySelector('cart-notification');
              if (cartNotification) {
                cartNotification.open();
              }
              popup.style.display = 'none';
            } else if (xhr.readyState === 4) {
              console.error('Error:', xhr.responseText);
              alert('Failed to add to cart.');
            }
          };

          xhr.send(JSON.stringify({
            id: variant.id,
            quantity: 1
          }));

          if (addAnotherProduct) {
            console.log('in addAnotherProduct');
            var xhr = new XMLHttpRequest();
          xhr.open('POST', '/cart/add.js', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              // Open the cart notification
              var cartNotification = document.querySelector('cart-notification');
              if (cartNotification) {
                cartNotification.open();
              }
              popup.style.display = 'none';
            } else if (xhr.readyState === 4) {
              console.error('Error:', xhr.responseText);
              alert('Failed to add to cart.');
            }
          };
            xhr.send(JSON.stringify({
              id: 44759342645380,
              quantity: 1
            }));
          }
        } else {
          alert('Please select a valid variant.');
        }
      } else {
        alert('Please select a color and size.');
      }
    }
  });
</script>