<!-- filepath: templates/page.preview.liquid -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview Page</title>
  <style>
    .custom-header {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  {% section 'banner' %}
  {% section 'grid' %}

  <script>
    // remove header, part of footer, and announcement bar from preview page
    document.addEventListener('DOMContentLoaded', function() {
      var headerElement = document.querySelector('.shopify-section.shopify-section-group-header-group.section-header');
      if (headerElement) {
        headerElement.remove();
      }
      var announcementBar = document.querySelector('.announcement-bar');
      
      if(announcementBar) {
        announcementBar.remove();
      }

      var footerElement = document.querySelector('.footer__content-top');
      
      if(footerElement) {
        footerElement.remove();
      }
    });
  </script>
</body>
</html>